<!-- <h1>Home#index</h1> -->
<!-- <p>Find me in app/views/home/index.html.erb</p> -->

<div class="container-fluid" >
  <div class="panel panel-success">
    <div class="panel-heading">
      <h1>Hello!</h1>
    </div>
    <div class="panel-body">
      <h3>Welcome to Rohm (Rails + Ohm).</h3>

      <p>
      Rohm is an api project for stock and options data.
      Here are the api routes available to you:
      </p>

      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Route</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="/api/v1/exchanges">/api/v1/exchanges</a></td>
            <td>List of all exchanges available</td>
          </tr>
          <tr>
            <td><a href="/api/v1/stocks">/api/v1/stocks</a></td>
            <td>List of all stocks available</td>
          </tr>
          <tr>
            <td><a href="/api/v1/options">/api/v1/options</a></td>
            <td>List of all options available</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
